/* Global Styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 1.6rem;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.icon-bar {
    width: 2rem; 
    height: .3rem;
    background-color: blueviolet;
    display: block;
    transition: all 0.2s;
    margin: .1rem;
    }
    
    .navbar-toggler {
    border: none;
    background: transparent !important;
    }
    .navbar-toggler .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
     
    .navbar-toggler .middle-bar {
      opacity: 0;
    }
     
    .navbar-toggler .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
     
    .navbar-toggler.collapsed .top-bar {
      transform: rotate(0);
    }
     
    .navbar-toggler.collapsed .middle-bar {
      opacity: 1;
    }
     
    .navbar-toggler.collapsed .bottom-bar {
      transform: rotate(0);
    }  
    .navbar-collapse{
      text-align: center;
    }
    nav{
    background: #9ACD32;
    
    }
    .navbar-brand,  .navbar-nav{
        font-size: 2rem;
    }
   
    #loginBtn{
        width: 10rem; 
        background-color: white;
        border-radius: 2rem;
        color: black;
        display: inline-block;
        
        padding: 1rem 2.5rem;
        text-transform: uppercase;
        transition: background-color 650ms;
    }
    #loginBtn:hover{
        background-color: #ce587b;
    }
.carousel-save{
    margin-bottom: 30rem;
}
.save{
    font-size: 5rem;
    font-weight: bold;
}
.purchase{
    font-size: 1.3rem;
    text-transform: capitalize;
}
.button-shop{
    display: inline-block;
    background-color: white;
    width: 12rem;
    height: 3rem;
    padding: .8rem 2.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
}
/* arrivals  */
.arrivals, .best-sellers, .best-heading, .popular{
    padding: 0;
    margin-top: 2rem;
}
.arrival-heading, .best-heading{
    font-size: 1.3rem;
}
.main-header{
    width: 100%;
    max-width: 50rem;
    color: black;
    text-transform: uppercase;
    transform: translateY(20%);
    font-size: 1.7rem;
}
.percentage{
    width: 5rem;
    height: 5rem;
    background: red;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    float: right;
    margin-right: -1rem;
        
}
.label{
    position: relative;
    margin-top: -4rem;
    margin-left: 2rem;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.percentage1{
    width: 5rem;
    height: 5rem;
    
    border-radius: 50%;
    z-index: 1;
    position: relative;
    float: right;
    margin-right: -1rem;
}
.img{
    margin-top: -4rem;
}
.per{
    text-align: center;
    margin: 1.2rem;
    font-size: 1.2rem;
    color: white;
}
.carbs{
    padding: 0;
    margin-top: 4rem;
    background: #9ACD32;
    height: 30rem;
}
.carbs-message{
    text-align: center;
    padding-top: 5rem;
    
}
.carbs-heading{
    font-size: 5rem;
    color: white;
}
.carbs-wordings{
    font-size: 1.2rem;
    color: white;
}
.carbs-button{
    display: inline-block;
    background-color: white;
    width: 18rem;
    height: 4rem;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}
.carbs-button a{
    color: black;
}
#fruit{
        margin: auto;
        background: #9ACD32;
        height: 100%;
}
#fruitImage{
    margin-left: -3rem;
    height: 100%;
}

.fruit-name{
    margin: auto;
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    color: white;
}
#fruit1{
    background: #9ACD32;
    height: 100%;
    width: 100%;
}
.meat{
    padding: 0;
}
.meat-div{
    margin: auto;
    width: 98rem;
    height: 30rem;
    background: #9ACD32;
}
.meat-text{
    padding-left: 6rem;
    padding-top: 6rem;
    text-align: left;
    font-size: 5rem;
    color: white;
}
.black-box{
    background: black;
    height: 15rem;
}
.black-box-text{
    color: white;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 6rem;
}
.footer{
    background: #9ACD32;
    height: 50rem;
}
.cuisine-logo{
    margin-top: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.cuisine-writeup{
    margin-top: 3rem;
    color: white;
    font-size: 1rem;
}
.google-apple{
    margin-top: 2rem;
    padding-right: 2rem;
    background: black;
    height: 6rem;
    border-radius: 1rem;
    color: white;
    
}
.google-apple::hover{
    border: 1rem solid blue;
}
.google{
    font-size: 1rem;
    margin-left: 4rem;
    margin-top:.5rem;
}
.google-play{
    margin-left: 4rem;
    margin-top:.5rem;
}
.cities{
    color: white;
    font-size: 1.5rem;
    margin-left: .5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* Four equal columns */
.col-3{
    flex: 25%;
    padding: 20px;
}
.follow-us{
    color: white;
}.wazobia{
    color: white;
}
.right{
    float: right;
}
.login {
    background: rgba(0, 0, 0, 0.6) url(../images/achara.jpg);
    height: 60rem;
  }
  .signup {
    background: rgba(0, 0, 0, 0.6) url(../images/tomato.jpg);
    height: 60rem;
  }
  #divLogin{
    background-color: white; 
    margin-top: 50px;
    width: 1152px;
    height: 654px;
    margin: auto;
    padding: 20px;
    
  }
  .login-class{
      height: 53rem;
      background: white;
      border-radius: 2rem;
  }
  .login-header{
      text-align: center;
      margin-top: 6rem;
      font-size: 3rem;
  }
  .welcome{
    font-size: 1rem;
    text-align: center;
  }
  #password-form4-1, #email-form4-1, #name-form4-1, #phone-form4-1{
      padding-left: 1.7rem;
    border-radius: 30px;
    width: 75%; 
    margin: auto; 
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.15);
  }
  .forgot-password{
    margin-bottom: 30px;
    text-align: center;
    font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  }
  .login-btn{
    margin-bottom: 30px;
    text-align: center;
    width: 75%; 
    margin: auto; 
    background: #9ACD32; 
    border-radius: 30px;
    color: white;
  }
  #btnLogin, #btnSignup {
    background-color: #9ACD32;
    color: white;
    font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  }
  .login-btn:hover, .continue-google:hover, #password-form4-1:hover, #email-form4-1:hover, #name-form4-1:hover, #phone-form4-1:hover,
  #ingredients:hover, #carb:hover,
  #melon:hover,
  #spices:hover,
  #spices1:hover,
  .order-pic:hover,
    #orderName:hover,
    #orderHead:hover,
    .order-caption:hover,
    #orderHead1:hover, .start-shopping:hover,#orderHeadDetail:hover, .input-name:hover, .input-name-email:hover, textarea:hover,
    #giftCard:hover, .buy-gift:hover, .add-gift:hover,
    #trackOrderNow:hover,
    .order-location:hover,
    #trackAddress:hover, .cancel-order:hover, .gift-card-question:hover,
    .payment-means:hover,
    .input-payment-number:hover,
    .input-card-year:hover,
    .input-card-cvv:hover,
    .save-this-card:hover{
    border: .1rem solid blue;
  }
  .continue-google{
    margin-bottom: 30px;        
    text-align: center;
    width: 75%; 
    margin: auto; 
    background: black; 
    border-radius: 30px;
  }
 
  #continueGoogle {
    background: black; 
    color: white;
    font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  }
  .have-no-account{
    font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  }
  #searchIcon{
    position: absolute;
    margin-left: 20px;
    margin-top: 23px;
  }
  #ingredients{
    margin-top: 20px;
    border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  padding-left:50px;
  }
  #carb, #melon, #spices, #spices1{
    font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
    text-align: center;
    font-size: small;
    margin-right: 10px;
    width: 100px;
  height: 30px;
  margin-top: 20px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  }
  .all-results{
    font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-top:10px;
  }
  .okro{
      margin-top: 8rem;
  }
  .coconut{
      padding-top: 2rem;
      padding-bottom: 4rem;
  }
  #arrivalImageCoconut{
      margin-top: 2rem;
  }
  #cucumberImg{
    margin-top: 5rem;
  }
  #orderName{
      margin-right: 3rem;
  }
  #orderHead{
      height: 20rem;
      background:  #9ACD32;
  }
  #orderHeadDetail{
    height: 20rem;
    background:  #C4C4C4;
}
  #orderHead1{
    height: 88rem;
    background:  #C4C4C4;
    }
#giftCard{
    height: 30rem;
    background:  #C4C4C4;
    
    }
#trackOrderNow{
    height: 88rem;
    background:  #C4C4C4;
}

  #orderName1{
      margin-right: 3rem;
  }
  .order-caption1{
    height: 20rem;
    background: #9ACD32;
  }
  .order-captionDetail{
    height: 20rem;
    background: #C4C4C4;
  }
  .order-caption{
    height: 10rem;
    background:  #C4C4C4;
    margin-bottom: 3rem;
  }
  .order-pic{
      position: absolute;
      height: 11rem;
      width: 11rem;
      background: #C4C4C4;
      border-radius: 50%;
      margin-top: 5rem;
      margin-left: 3rem;
      border: .1rem white solid;
  }
  .order-who{
    position: absolute;
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
      margin-left: 18rem;
      margin-top: 8rem;

  }
  .order-cap{
    position: absolute;
      font-size: 2rem;
      text-transform: uppercase;
      color: black;
      margin-left: 18rem;
      margin-top: 8rem;

  }.payment-cap{
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    margin-left: 13rem;
    margin-top: 8rem;
  }
  .order-cap-text{
    position: absolute;
    font-size: 1rem;
    color: black;
    margin-left: 10rem;
    margin-top: 11rem;
  }
  .order-cap-track{
    position: absolute;
    font-size: 1rem;
    color: black;
    margin-left: 15rem;
    margin-top: 11rem;
  }
  .order-icon{
    position: absolute;
    font-size: 2rem;
    margin-left: 10rem;
    margin-top: 8rem;
  }
  .order-cap1{
    position: absolute;
      font-size:1.4rem;
      text-transform: uppercase;
      color: black;
      margin-left: 5rem;
      margin-top: 4rem;

  }.order-icon1{
    position: absolute;
    font-size: 1.4rem;
    margin-left: 3rem;
    margin-top: 4rem;
  }
  .orderhead-pos, .giftcard-pos{
      text-align: center;
  }
  .order-head-text{
      margin-top: 35rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
  }
  .gift-card-text{
    margin-top: 5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}
  .order-head-pa{
      font-size: 1rem;
  }
  .start-shopping{
      background: #9ACD32;
      width: 17rem;
      height: 3rem;
      border: none;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
  }
  .add-gift{
      margin-top: 1.5rem;
    background: #9ACD32;
    width: 17rem;
    height: 3rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.buy-gift{
    margin-top: 1.5rem;
    background:black;
    width: 17rem;
    height: 3rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.order-button{
    text-align: center;
}
.cancel-order{
    margin-top: 2rem;
    background:black;
    width: 17rem;
    height: 3rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    
}
  .my-detail-name{
      font-size: 1.5rem;
  }
  .input-name-email{
    height: 3rem;
    width: 43rem;
    padding-left:1rem;
  }.input-payment-number{
    height: 5rem;
    width: 48rem;
    padding-left:1rem;
    margin-left: 3rem;
    margin-top: 4rem;
    font-size: 1.5rem;
  }
  .input-card-year{
    height: 5rem;
    width: 26rem;
    padding-left:1rem;
    margin-left: 3rem;
    margin-top: 4rem;
    font-size: 1.5rem;
  }.input-card-cvv{
    height: 5rem;
    width: 21rem;
    padding-left:1rem;
    margin-left: 3rem;
    margin-top: 4rem;
    font-size: 1.5rem;
  }
  .input-name{
      height: 3rem;
      width: 15rem;
      padding-left:1rem;
  }
  .last-name, .email-detail, .number, .password-detail{
      margin-top: 5rem;
  }
  .address1{
      margin-top: 2rem;
  }.address2{
      margin-top:5rem;
  }.state-of-residence{
      margin-top: 6rem;
  }
  textarea{
      padding: 2rem;
  }
  .order-location{
      width: 80%;
      height: 32rem;
      background: #9ACD32;
      position: absolute;
      margin-top: 8rem;
      margin: 7%;
            
  }
  .track-address{
      margin-top: 40rem;
      margin-left: 7%;
  }
  #trackAddress{
      margin-left: 7%;
  }
  .gift-card-question{
      height: 15rem;
      background: #C4C4C4;
      margin-bottom: 2rem;
  }.gift-card-question{
      text-align: left;
  }
  .gift-question{
      margin-top: 3rem;
      margin-left: 3rem;
      font-size: 1.3rem;
      font-weight: bold;
  }
  .gift-answer{
    margin-left: 3rem;
    font-size: 1.2rem;
  }
  .payment-row{
      margin-top: 5rem;
  }
  .payment-means{
      height: 6rem;
      background:white;
      margin: auto;
  }
  .verve{
      margin-top: 1rem;
  }
  .card-detail-text{
      text-align: center;
      margin-top: 5rem;
  }
  .card-save-button{
      text-align: center;
  }
  .save-this-card{
    background: #9ACD32;
    width: 20rem;
    height: 3rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5rem;
  }
  .category-row{
      margin-top: 5rem;
  }
/* Media queries */
@media screen and (max-width: 600px){
  .min-okro{
      margin-top: 4rem;
  }
  .col-3{
      margin-top: 4rem;
  }
  .col-6{
    padding-top: 4rem;
    flex: 100%;
    max-width: 100%;
    padding: 2rem;
  }
  #orderName{
      flex: 100%;
      max-width: 100%;
      
      margin-right: 0;
      
  }
  #orderHead, #orderHeadDetail{
    flex: 100%;
    max-width: 100%;
      margin-top: 3rem;
  }
  .my-detail-name{
      margin-top: -5rem;
  }
  .input-name{
      width: 100%;
  }
  .input-name-email{
      width: 100%;
  }
  .address1{
      margin-top: 6rem;
  }.address2{
      margin-top: 10rem;
  }
  textarea{
      width: 100%;
  }.state-of-residence{
      margin-top: 10rem;
  } .order-location{
      width: 80%;
      margin-left: 3.5%;
  }
  #trackAddress{
      margin: auto;
  }
  .payment-means img{
    flex: 100%;
    width: 100%;
    margin-top: 2rem;
    padding: 0;
  }
  .input-payment-number, .input-card-year, .input-card-cvv{
      width: 75%;
  }
  .input-card-cvv{
      margin-left: 7rem;
  }

}
@media screen and (max-width: 922px){
    #trackAddress{
        margin: auto;
        width: 100%;
    }
    .input-payment-number, .input-card-year, .input-card-cvv{
        width: 100%;
        margin-left: .5rem;
    }

}
@media only screen and (max-width: 480px){
    
}
@media only screen and (min-width: 481px){
    .col-3{
        flex: 100%;
        max-width: 100%;
        
    }
  
    .navbar{
        padding: 2rem;
    }
    .col-4{
        width: 100%;
        padding: 0;
    }
    .cuisine-logo, .cuisine-writeup{
        padding-left: 3rem;
    }
    .google-apple{
        width: 100%;
        margin: 0 3rem;
        margin-top: 2rem;
    }
    .google{
        font-size: 1rem;
        margin-left: 10rem;
        margin-top:-2rem
    }   
    .google-play{
        margin-left: 10rem;
        margin-top:.5rem;
    }
    .footer{
        background: #9ACD32;
        height: 130rem;
    }
    .help{
        text-align: left;
        color: white;
    }
    
}
@media only screen and (min-width: 769px){
    .col-3{
        flex: 25%;
    }
}
@media only screen and (max-width: 1280px){
    
}