/* Global Styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 1.6rem;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.icon-bar {
    width: 2rem; 
    height: .3rem;
    background-color: blueviolet;
    display: block;
    transition: all 0.2s;
    margin: .1rem;
    }
    
    .navbar-toggler {
    border: none;
    background: transparent !important;
    }
    .navbar-toggler .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
     
    .navbar-toggler .middle-bar {
      opacity: 0;
    }
     
    .navbar-toggler .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
     
    .navbar-toggler.collapsed .top-bar {
      transform: rotate(0);
    }
     
    .navbar-toggler.collapsed .middle-bar {
      opacity: 1;
    }
     
    .navbar-toggler.collapsed .bottom-bar {
      transform: rotate(0);
    }  
    .navbar-collapse{
      text-align: center;
    }
    nav{
    background: #9ACD32;
    
    }
    .navbar-brand,  .navbar-nav{
        font-size: 2rem;
    }
   
    #loginBtn{
        width: 10rem; 
        background-color: white;
        border-radius: 2rem;
        color: black;
        display: inline-block;
        
        padding: 1rem 2.5rem;
        text-transform: uppercase;
        transition: background-color 650ms;
    }
    #loginBtn:hover{
        background-color: #ce587b;
    }
.carousel-save{
    margin-bottom: 30rem;
}
.save{
    font-size: 5rem;
    font-weight: bold;
}
.purchase{
    font-size: 1.3rem;
    text-transform: capitalize;
}
.button-shop{
    display: inline-block;
    background-color: white;
    width: 12rem;
    height: 3rem;
    padding: .8rem 2.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
}
/* arrivals  */
.arrivals, .best-sellers, .best-heading, .popular{
    padding: 0;
    margin-top: 2rem;
}
.arrival-heading, .best-heading{
    font-size: 1.3rem;
}
.main-header{
    width: 100%;
    max-width: 50rem;
    color: black;
    text-transform: uppercase;
    transform: translateY(20%);
    font-size: 1.7rem;
}
.percentage{
    width: 5rem;
    height: 5rem;
    background: red;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    float: right;
    margin-right: -1rem;
        
}
.label{
    position: relative;
    margin-top: -4rem;
    margin-left: 2rem;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.percentage1{
    width: 5rem;
    height: 5rem;
    
    border-radius: 50%;
    z-index: 1;
    position: relative;
    float: right;
    margin-right: -1rem;
}
.img{
    margin-top: -4rem;
}
.per{
    text-align: center;
    margin: 1.2rem;
    font-size: 1.2rem;
    color: white;
}
.carbs{
    padding: 0;
    margin-top: 4rem;
    background: #9ACD32;
    height: 30rem;
}
.carbs-message{
    text-align: center;
    padding-top: 5rem;
    
}
.carbs-heading{
    font-size: 5rem;
    color: white;
}
.carbs-wordings{
    font-size: 1.2rem;
    color: white;
}
.carbs-button{
    display: inline-block;
    background-color: white;
    width: 18rem;
    height: 4rem;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}
.carbs-button a{
    color: black;
}
#fruit{
        margin: auto;
        background: #9ACD32;
        height: 100%;
}
#fruitImage{
    margin-left: -3rem;
    height: 100%;
}

.fruit-name{
    margin: auto;
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    color: white;
}
#fruit1{
    background: #9ACD32;
    height: 100%;
    width: 100%;
}
.meat{
    padding: 0;
}
.meat-div{
    margin: auto;
    width: 98rem;
    height: 30rem;
    background: #9ACD32;
}
.meat-text{
    padding-left: 6rem;
    padding-top: 6rem;
    text-align: left;
    font-size: 5rem;
    color: white;
}
.black-box{
    background: black;
    height: 15rem;
}
.black-box-text{
    color: white;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 6rem;
}
.footer{
    background: #9ACD32;
    height: 50rem;
}
.cuisine-logo{
    margin-top: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.cuisine-writeup{
    margin-top: 3rem;
    color: white;
    font-size: 1rem;
}
.google-apple{
    margin-top: 2rem;
    padding-right: 2rem;
    background: black;
    height: 6rem;
    border-radius: 1rem;
    color: white;
    
}
.google-apple::hover{
    border: 1rem solid blue;
}
.google{
    font-size: 1rem;
    margin-left: 4rem;
    margin-top:.5rem;
}
.google-play{
    margin-left: 4rem;
    margin-top:.5rem;
}
.cities{
    color: white;
    font-size: 1.5rem;
    margin-left: .5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* Four equal columns */
.col-3{
    flex: 25%;
    padding: 20px;
}

/* Media queries */
@media screen and (max-width: 600px){
  
}
@media screen and (max-width: 922px){
   
}
@media only screen and (max-width: 480px){
    
}
@media only screen and (min-width: 481px){
    .col-3{
        flex: 100%;
        max-width: 100%;
    }
    .navbar{
        padding: 2rem;
    }
    .col-4{
        width: 100%;
        padding: 0;
    }
    .cuisine-logo, .cuisine-writeup{
        padding-left: 3rem;
    }
    .google-apple{
        width: 100%;
        margin: 0 3rem;
        margin-top: 2rem;
    }
    .google{
        font-size: 1rem;
        margin-left: 10rem;
        margin-top:-2rem
    }   
    .google-play{
        margin-left: 10rem;
        margin-top:.5rem;
    }
    .footer{
        background: #9ACD32;
        height: 70rem;
    }
}
@media only screen and (min-width: 769px){
    .col-3{
        flex: 25%;
    }
}
@media only screen and (max-width: 1280px){
    
}